<!DOCTYPE html>
<html>
<title>CSCB09</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-button {width:150px;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>
<body> 

<div class="w3-container">
  <h2>Welcome to the CSCB20 Website</h2>
<div class="center">

  <h2>Are You a:</h2>
  <p><a href="http://127.0.0.1:5000/login-student"><button class="w3-button w3-indigo">Student</button></a></p>
  <p><a href="http://127.0.0.1:5000/login-instructor"><button class="w3-button w3-green">Instructor</button></a></p>
     
</div>
</div>

</body>
</html>
