<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">
</head>

<div class="form-style-10">
<h1>Instructor LogIn</h1>

<form section="/sign-up" method="POST">
    
    <div class="inner-wrap">
        <label>Username/UTORID<input type="text" name="username" maxlength="50" required/></label>
        <label>Password <input type="password" name="password" maxlength="50" required/></label>
    </div>

    <div class="button-section">
     <input type="submit" name="Sign Up" />
    </div>

</form>
</div>

<p><a href="http://127.0.0.1:5000/signup-instructor"><button class="w3-button w3-red">Register</button></a></p>