<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">
</head>

<div class="form-style-10">
<h1>Update Marks</h1>

<form section="/sign-up" method="POST">
    
    <div class="inner-wrap">
        <label>Which Assingment (a1, a2 or a3)<input type="text" name="assign" maxlength="2" required/></label>
        <label>Reason for re-grade request?<input type="text" name="reason" required/></label>
    </div>

    <div class="button-section">
     <input type="submit" name="submit" />
    </div>

</form>
</div>