
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN">
<html>
<head>
<title>CSCB20 - Introduction to Databases and Web Applications</title>

<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<link href= "{{ url_for('static',filename='styles/index.css') }}"

rel="stylesheet" type="text/css">
</head>

<body>

  <! Menu Header >

<header>
    <div class="container">
      <h1 class="pad"></h1>

      <nav>
        <ul>
          <li><a href="/login-student">Home</a></li>
          <li><a href="/s_calendar">Calendar</a></li>
          <li><a href="/s_news">New News</a></li>
          <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
          <li><a href="/s_schedule">Lectures</a></li>
          <li><a href="/s_labs">Labs</a></li>
          <li><a href="/s_assignments">Assignments</a></li>
          <li><a href="/s_test">Tests</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/">Markus</a></li>
          <li><a href="/s_team">Course Team</a></li>
          <li><a href="/anon-feedback">Anon Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <! Body of webpage >
  
<div
	class="heading">CSCB20 - Introduction to Databases and Web Applications
</div>

<div
class="content"> 
<p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 24px;">Overview</span></p>
<hr>
<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on <strong>MarkUs</strong>.</p>
<p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 24px;">Assignments</span></p>
<hr>
<p><strong><u>1: Relational Algebra and MySQL - 15%</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li>Part 1. Due: <span style="color: rgb(209, 72, 65);"><strong>Wednesday Feb. 1, 11.59pm</strong></span>, Submit to MarkUs</li>
  <li>Part 2 and 3. For 5% bonus <span style="color: rgb(226, 80, 65);"><strong>Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59</strong></span></li>
</ul>
<p><strong><u>2: HTML, CSS, PHP - 15%</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li><a href="static\assets\a2.zip" style="color: #347d9c">a2.zip</a></li>
  <li>Due: Part 1: Worth 50% <span style="color: rgb(226, 80, 65);"><strong>Friday March. 10, 11.59pm</strong></span></li>
  <li>Part 2: Worth 50% <strong><span style="color: rgb(226, 80, 65);">Friday March. 19, 11.59pm</span></strong></li>
</ul>
<p><u><strong>3: Web Application and Database - 15%</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Marking Scheme for A3</a></li>
  <li>Due: <strong><span style="color: rgb(226, 80, 65);">Friday March 31, 11.59pm</span></strong></li>
</ul>
</div>


<! Footer >
<div class="footer">
	<div class="footer-bottom">
		<b><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" style="color:#686868">Faculty of Computer Science</a>
		 &copy; Designed by: Kourosh Jaberi and Ali Zaheer
	</div>
</div>

</body> </html>
