 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN">
<html>
<head>
<title>CSCB20 - Introduction to Databases and Web Applications</title>

<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<link href= "{{ url_for('static',filename='styles/index.css') }}"
rel="stylesheet" type="text/css">
</head>

<body>

  <! Menu Header >

<header>
    <div class="container">
      <h1 class="pad"></h1>

      <nav>
        <ul>
          <li><a href="/login-student">Home</a></li>
          <li><a href="/s_calendar">Calendar</a></li>
          <li><a href="/s_news">New News</a></li>
          <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
          <li><a href="/s_schedule">Lectures</a></li>
          <li><a href="/s_labs">Labs</a></li>
          <li><a href="/s_assignments">Assignments</a></li>
          <li><a href="/s_test">Tests</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/">Markus</a></li>
          <li><a href="/s_team">Course Team</a></li>
          <li><a href="/anon-feedback">Anon Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <! Body of webpage >

<div
	class="heading">CSCB20 - Introduction to Databases and Web Applications
</div>

<div
class="content"> 

<p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 24px;">Tutorial Sections</span></p>
<hr>
<p>Please go the tutorial section that you signed up for on ACORN.</p>
<p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 24px;">Tutorial Exercises - Labs</span></p>
<hr>
<p><strong><u>Lab 1: Introduction, Databases background</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Python, Command line</a></li>
</ul>
<p><strong><u>Lab 3: Schema Diagrams, Relational Algebra</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
</ul>
<p><u><strong>Lab 4: SQL and MySQL</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li><a href="static\assets\university.sql" style="color: #347d9c">university.sql</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">query_solns</a></li>
</ul>
<p><u><strong>Lab 5: MySQL Queries, Creating and Editing Tables</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Solns</a></li>
</ul>
<p><strong><u>Lab 6: MySQL Outer Joins, Views, NULL, string functions, HTML</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Solns</a></li>
</ul>
<p><strong><u>Lab 7: HTML, CSS</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
</ul>
<p><strong><u>Lab 8: PHP</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
</ul>
<p><u><strong>Lab 9: PHP and SQL</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Handout</a></li>
</ul>
<p><strong><u>Lab 10: JavaScript and jQuery</u></strong><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">'W3 tutorial' Work through the tutorial for jQuery up until jQuery Remove.</a></li>
</ul>

</div>


<! Footer >
<div class="footer">
	<div class="footer-bottom">
		<b><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" style="color:#686868">Faculty of Computer Science</a>
		 &copy; Designed by: Kourosh Jaberi and Ali Zaheer
	</div>
</div>

</body> </html>
