 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN">
<html>
<head>
<title>CSCB20 - Introduction to Databases and Web Applications</title>

<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<link href= "{{ url_for('static',filename='styles/index.css') }}"
rel="stylesheet" type="text/css">
</head>

<body>

<! Menu Header > 

<header>
    <div class="container">
      <h1 class="pad"></h1>

      <nav>
        <ul>
          <li><a href="/login-student">Home</a></li>
          <li><a href="/s_calendar">Calendar</a></li>
          <li><a href="/s_news">New News</a></li>
          <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
          <li><a href="/s_schedule">Lectures</a></li>
          <li><a href="/s_labs">Labs</a></li>
          <li><a href="/s_assignments">Assignments</a></li>
          <li><a href="/s_test">Tests</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/">Markus</a></li>
          <li><a href="/s_team">Course Team</a></li>
          <li><a href="/anon-feedback">Anon Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <! Body of webpage >

<div
  class="heading">CSCB20 - Introduction to Databases and Web Applications
</div>


<div class="content">
    
        <br/>
    
            <h2 style="color: #4FBD79; text-align: left;"><span style="font-family: 'Roboto Condensed', sans-serif;">MESSAGE FROM THE President</span></h2>
<hr style="margin-top: 0;"/>
<p><strong><img alt="Meric S. Gertler" class="" height="200" src="static/photos/gertler.jpg" width="300"/></strong></p>
<p>To all members of the U of T community:</p>
<p>
  <br>
</p>
<p>As you know, since late last year, governments and institutions around the world have been responding in various ways to the threats posed by COVID-19, the illness caused by the novel coronavirus.</p>
<p>The situation is now accelerating very rapidly. Two days ago, the World Health Organization determined that COVID-19 has reached the level of a global pandemic. Yesterday, among many other developments in Canada, the governments of Quebec and Alberta advised that indoor gatherings of more than 250 people should be cancelled, and the Ontario government announced that all public schools will remain closed for two weeks following the March break.</p>
<p>Continually since early January, the University of Toronto has been monitoring the situation very closely and taking action as necessary in light of the global situation, the advice of public health authorities and the concerns of our community. We have also been liaising regularly with other post-secondary institutions and sector organizations, as well as Toronto Public Health, while consulting with our own U of T experts in public health. We have been informing members of our community accordingly, through a website we created as a clearinghouse of authoritative information.</p>
<p>Yesterday we sent a memo directly to all students, faculty, librarians and staff on our three campuses, to update everyone on our planning for future contingencies. We announced the cancellation of all University-sponsored learning programs abroad. We advised that non-essential travel should be reconsidered and we recommended the cancellation or postponement of all discretionary events. We indicated the steps we have taken to support instructors in planning for the possible cancellation of in-person classes and examinations. We reiterated our advice that those who are sick should stay home, and we reminded community members of where they can find more information online.</p>
<p>After careful consideration of developments over the past 24 hours, we have made the following additional decisions.</p>
<ul>
  <li><strong>We have decided to cancel all in-person undergraduate and research-stream Masters and Doctoral courses across U of T’s three campuses, and we will provide that teaching by other means </strong>(which may include existing online platforms).</li>
  <li><strong>This decision is effective this coming Monday, March 16 and continuing until the end of classes on Friday, April 3.</strong> (Please note that all in-person teaching scheduled for today, Friday, March 13, will continue as planned.)</li>
  <li><strong>With respect to professional programs</strong>, each of which has particular circumstances and accreditation requirements, consultation is ongoing today to determine the appropriate course of action.</li>
  <li><strong>Professional students as well as faculty members, other instructors and staff in these programs will be advised by this coming Monday morning,</strong> as soon as decisions have been made.</li>
  <li><strong>University operations continue, and all three campuses will remain open.</strong></li>
  <li><strong>Libraries, residences, food services, health &amp; wellness centres, athletics and recreation facilities and other public spaces on all three campuses will remain open.</strong></li>
</ul>
<p>One of the key factors in these decisions is the need to foster a degree of “social distancing”, as recommended by public health authorities. On that front, our goal is to help interrupt the chain of transmission in the wider community, thereby protecting vulnerable individuals and ensuring that our health care system will not become overburdened.</p>
<p>I would like to extend special thanks to those faculty and staff members who have been involved in monitoring and analyzing this evolving situation and in charting the way forward for the University at this difficult time. Your dedication is remarkable and deeply appreciated.</p>
<p>I salute our U of T clinicians and researchers who are making crucial contributions to the collective efforts to find solutions on the local, provincial, national and international levels. You make us proud.</p>
<p>I would also like to thank all members of the University of Toronto community – our students, faculty and staff members alike. We appreciate that the global COVID-19 pandemic is increasingly worrisome, and that the changes I have just announced will require very significant adjustments on everyone’s part. But, based on the strength of our bonds as a community and the good will that characterizes its members, we are confident that we will meet this challenge successfully.</p>
<p>Sincerely,</p>
<p>Meric S. Gertler</p>
<p>President, University of Toronto</p>


        </div>




<! Footer >
<div class="footer">
	<div class="footer-bottom">
		<b><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" style="color:#686868">Faculty of Computer Science</a>
		 &copy; Designed by: Kourosh Jaberi and Ali Zaheer
	</div>
</div>

</body> </html>
