 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN">
<html>
<head>
<title>CSCB20 - Introduction to Databases and Web Applications</title>

<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<link href= "{{ url_for('static',filename='styles/index.css') }}"
rel="stylesheet" type="text/css">
</head>

<body>

  <! Menu Header >

<header>
    <div class="container">
      <h1 class="pad"></h1>

      <nav>
        <ul>
          <li><a href="/login-student">Home</a></li>
          <li><a href="/s_calendar">Calendar</a></li>
          <li><a href="/s_news">New News</a></li>
          <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
          <li><a href="/s_schedule">Lectures</a></li>
          <li><a href="/s_labs">Labs</a></li>
          <li><a href="/s_assignments">Assignments</a></li>
          <li><a href="/s_test">Tests</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/">Markus</a></li>
          <li><a href="/s_team">Course Team</a></li>
          <li><a href="/anon-feedback">Anon Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <! Body of webpage >

<div
	class="heading">CSCB20 - Introduction to Databases and Web Applications
</div>

<div
class="content"> 

<p><span style="font-family: Tahoma, Geneva, sans-serif; font-size: 24px;">Lecture Schedule</span></p>
<hr>
<p>
  <br>
</p>




<p><strong><u>Week 1: Introduction, Databases background</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Printable Lecture Slides</a></li>
</ul>
<p><strong><u>Week 3: Schema Diagrams, Relational Algebra</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Worksheet</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Worksheet Solutions</a></li>
</ul>
<p><u><strong>Week 4: SQL and MySQL</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Printable Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">MySQL Worksheet</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">In Class MySQL</a></li>
</ul>
<p><u><strong>Week 5: MySQL Queries, Creating and Editing Tables</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Printable Lecuture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">More MySQL Worksheet</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Worksheet Solutions</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">In Class MySQL</a></li>
</ul>
<p><strong><u>Week 6: MySQL Outer Joins, Views, NULL, string functions, HTML</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">MySQL Views Worksheet</a></li>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Worksheet Solutions</a></li>
</ul>
<p><strong><u>Week 7: HTML, CSS</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
</ul>
<p><strong><u>Week 8: PHP</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
</ul>
<p><u><strong>Week 9: PHP and SQL</strong></u></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
  <li><a href="static\assets\query.php" style="color: #347d9c">Starter file: query.php</a></li>
  <li><a href="static\assets\php_query.txt" style="color: #347d9c">editable version: php_query.txt</a></li>
</ul>
<p><strong><u>Week 10: JavaScript and jQuery</u></strong><span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
</ul>
<p><strong><u>Week 11: jQuery, AJAX, JSON</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">Lecture Slides</a></li>
</ul>
<p><strong><u>Week 12: Last Year's final (Review Session)</u></strong></p>
<ul>
  <li><a href="static\assets\dummyPDF.pdf" style="color: #347d9c">2016 Past Final Exam</a></li>
</ul>




<! Footer >
<div class="footer">
	<div class="footer-bottom">
		<b><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" style="color:#686868">Faculty of Computer Science</a>
		 &copy; Designed by: Kourosh Jaberi and Ali Zaheer
	</div>
</div>

</body> </html>
