<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01
Transitional//EN">
<html>
<head>
<title>CSCB20 - Introduction to Databases and Web Applications</title>

<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-1">
<link href= "{{ url_for('static',filename='styles/index.css') }}"
rel="stylesheet" type="text/css">
</head>

<body>

  <! Menu Header >

<header>
    <div class="container">
      <h1 class="pad"></h1>

      <nav>
        <ul>
          <li><a href="/login-student">Home</a></li>
          <li><a href="/s_calendar">Calendar</a></li>
          <li><a href="/s_news">New News</a></li>
          <li><a href="https://piazza.com/class/k5l8ww7kz8l6f0">Discussion Board</a></li>
          <li><a href="/s_schedule">Lectures</a></li>
          <li><a href="/s_labs">Labs</a></li>
          <li><a href="/s_assignments">Assignments</a></li>
          <li><a href="/s_test">Tests</a></li>
          <li><a href="https://markus.utsc.utoronto.ca/cscb20w20/">Markus</a></li>
          <li><a href="/s_team">Course Team</a></li>
          <li><a href="/anon-feedback">Anon Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <! Body of webpage >

<div
	class="heading">CSCB20 - Introduction to Databases and Web Applications
</div>

<div
class="content">
<center>
    <h1>Welcome {{ name }}</h1>
</center>
  <a href = "http://127.0.0.1:5000/studentmark" > <h3>Click here to view your Marks </h3></a>
  <a href = "http://127.0.0.1:5000/logout-student" > <h3>Logout </h3></a>
<h2>Course
Description</h2>
A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.

<p><strong>Prerequisite</strong> Some experience with programming in an imperative language such as Python, Java or C.
 <p><strong>Exclusion</strong>  This course may not be taken after - or concurrently with - any C- or D-level CSC course.
 
<p><strong>Syllabus</strong> <a href="http://www.utsc.utoronto.ca/bretscher/b20/syllabus.pdf">PDF</a></p>


<h2>Instructor</h2> 

<p>Dr. Anna Bretscher</p>
<p>
  <img src="static/photos/bianca.jpg"/>
</p>
<p><b>Email:</b> 
  <a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a>
</p>
<p><b>Office:</b>    IC493</p>
<p><b>Phone:</b>     (416) 208-4745</p>
<p><b>Lectures:</b>  Mondays 9:15-11:00 in hW 216</p>
<p><b>Office Hours:</b>  W 11:00-12:00</p>

</div>

<! Footer >
<div class="footer">
	<div class="footer-bottom">
		<b><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" style="color:#686868">Faculty of Computer Science</a>
		 &copy; Designed by: Kourosh Jaberi and Ali Zaheer
	</div>
</div>

</body> </html>
