<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

  .w3-button {width:150px;}



/* Full-width inputs */

 input[type=submit] {
  "width: 62px;
   height: 34px;
}
</style>

</head>
<p>
<h3 style="text-align:center"> Welcome to U of T Scarborough - STUDENT Login Portal</h3></p>

<body>
 <img class="imgcontainer">
     <img src="static/photos/Logo.png"  style = "margin-left: 42%" align="center" width="200"   height="80"></img>
  </div>
<br><br>
<div id="container" style="margin-left:auto;margin-right:auto;width:250px">
 <form method="POST" style="horiz-align: center">
     <table style="border-width: 0px;width: 260px; height: 107px; ali">
         <tr>
		<td style="border-style: solid;border-width: 0px;background-color: #DFDFFF; width: 281px;">
		<form action="" method="post" ><h1 style="text-align: center">Login</h1>
        <table style='border:0px solid #000000;'>
         <tr>
         <td align='right'> Username/UTORID:
             <input type=text name=username maxlength='25'>
         </td>
         </tr>
          <tr>
          <td align='right'>Password:
             <input type=password name=password maxlength='25'></p>
        </td>
        </tr>
        <tr>
        <td align='center'>
        <input type="submit" value="Login" style="width: 62px; height: 34px"></td>
        </tr>
     </table>
  </form>
  </td>
</tr>
</table>
</div>



<div class="w3-container">


  <p><a href="http://127.0.0.1:5000/signup-student"><button class="w3-button w3-red">Register</button></a></p>

</div>



</body>
</html>